<div
  id="email-popup"
  class="email-popup"
  data-section-id="{{ section.id }}"
  data-section-type="email-popup"
  onClick="function test(){console.log('red')}"
>
  <h1 class="title" style="margin-top: 0; ">Email Signup Title</h1>
  <div class="body">Email Signup Body Copy</div>
</div>
