<div class="rte information">
  <div>
    <div class="title"><p>Get In Touch</p></div>
    {% section 'social-media' %}
  </div>
  <div class="description">{{ page.content }}</div>
</div>

<div class="contact">
  <div>
    <p>EMAIL:</p>
  </div>
  <div>
    <a href="mailto:support@bureau.cafe"><span>↳ </span>SUPPORT + FEEDBACK</a>
  </div>
</div>

<div class="contact">
  <div>
    <p>EMAIL:</p>
  </div>
  <div>
    <a href="mailto:media@bureau.cafe"><span>↳ </span>MEDIA</a>
  </div>
</div>

<div class="contact">
  <div>
    <p>PAGE:</p>
  </div>
  <div>
    <p>
      <a href="/pages/terms" class=" "><span>↳ </span>TERMS</a>
    </p>
  </div>
</div>

<div class="contact">
  <div>
    <p>PAGE:</p>
  </div>
  <div>
    <p>
      <a href="/pages/privacy-policy" class=" "
        ><span>↳ </span>PRIVACY POLICY</a
      >
    </p>
  </div>
</div>

{% section 'email-signup' %}
