<div class="rte information">
  <div class="policies">
    <div class="policy">
      <div class="title">
        <p>{{ page.title }}</p>
      </div>
      <div
        class="body"
        style="font-family: 'Atlas', Helvetica, sans-serif;
        font-size: 14px;
      letter-spacing: .1px;
      font-family: 'Atlas', Helvetica, sans-serif;
      line-height: 1.4;"
      >
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% section 'email-signup' %}
